* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;

}
:root {
    --white-color: #fff;
    --primary-color: #00BCD4;
    --input-color: #394050;
    --text-color: #99A9B5;
    --text-dark-color: #3C3950;
    --placeholder-color: #93A2AE;
    --line-color: #50586A;
    --button-color: #4EC3C9;
    --background-color: #212331;
    --dark-color: #181828;
    --blur-color: #99A9B5;
    --red-color: #F50057;
    --black-color: #393D50;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
    margin: 0 auto;
}
.btn {
    max-width: 222px;
    border: 3px solid var(--white-color);
    border-radius: 30px;
    text-align: center;
    padding: 12px 18px;
}
.input {
    width: 100%;
    font-size: 1.6rem;
    padding-left: 15px;
    background-color: var(--dark-color);
    caret-color: var(--placeholder-color);
    color: var(--placeholder-color);
    outline: none;
    border: 1px solid var(--input-color);
    padding: 12px 10px;
}
.input:focus {
    border-color: var(--primary-color);
}
.active {
    display: block;
}
.hidden {
    display: none;
}
.node--current {
    opacity: 1;
}

@keyframes toback {
    0% {
        opacity: 0;
        transform: translateX(50%);
    }
}
@keyframes tonext {
    0% {
        opacity: 0;
        transform: translateX(-50%);
    }
}
